export(ablate_evidence)
export(build_niche_graph)
export(compare_call_sets)
export(evaluate_calls)
export(infer_context_type)
export(learn_niche_prior)
export(make_reference_profiles)
export(make_group_folds)
export(permute_niche_prior)
export(plot_annotation_evidence)
export(plot_spatial_calls)
export(prepare_from_seurat)
export(prepare_from_spatial_experiment)
export(prepare_nichetype_input)
export(run_nichetype_workflow)
export(score_lr_context)
export(score_markers)
export(score_context_specific_neighborhood)
export(score_neighborhood)
export(score_neighbor_majority)
export(score_pathway_context)
export(score_reference_similarity)
export(score_spatial_smoothing)
export(simulate_nichetype_data)
export(spatial_null_edges)
export(summarize_cluster_calls)
export(summarize_evidence_conflicts)
export(tune_evidence_weights)
export(write_nichetype_templates)
importFrom(graphics,legend)
importFrom(graphics,par)
importFrom(graphics,plot)
importFrom(stats,dist)
